<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script>
      const token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
      function updateTodo(id, completed) {
        fetch(`/todos/${id}`, {
          method: "put",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            _csrf: token,
            completed
          }),
        })
          .then((res) => {
            window.location.reload();
          })
          .catch((err) => console.error(err));
      }
      function deleteTodo(id) {
        fetch(`/todos/${id}`, {
          method: "delete",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            _csrf: token,
          })
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.error(err));
      }
    </script>
    <title>To-Do Manager</title>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <%- include('header.ejs') %>
        <a href="/signout">Sign Out</a>
        <form action="/todos" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="flex gap-2 py-4">
            <div class="flex-auto">
              <input
                type="text"
                name="title"
                placeholder="What's next ?"
                class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm"
              />
            </div>
            <div class="flex-auto">
              <input
                name="dueDate"
                type="date"
                class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm leading-4"
                required
              />
            </div>
            <div>
              <button
                type="submit"
                class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2"
              >
                Add
              </button>
            </div>
          </div>
        </form>
        <div class="mb-3">
        <% if(messages && messages.error && messages.error.length > 0)  { %>
          <% for(var i=0; i<messages.error.length; i++) { %>
                  <li> <span class="text-red-900 font-bold" ><%= messages.error[i] %></span></li>
          <% } %>
        <% } %>
      </div>
        <div>
          <%- include('todo.ejs', {title: "Overdue", todos: overdue}) %>
          <%- include('todo.ejs', {title: "Due Today", todos: dueToday}) %>
          <%- include('todo.ejs', {title: "Due Later", todos: dueLater}) %>
          <%- include('todo.ejs', {title: "Completed Items", todos: completed}) %>
        </div>
      </div>
    </div>
    <%- include('footer.ejs') %>
  </body>
</html>
